@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./normalize.css');
@import url('./reset.css');
/* hide contents */
legend, .a11y-hidden{position:absolute;width: 1px;height: 1px;margin:-1px;overflow: hidden;clip:rect(0,0,0,0);}


/* LINK STYLE */
a{color:inherit;text-decoration:none;}

/* Basic style */
body{font-family:'Spoqa Han Sans', sans-serif; font-weight:400;font-size: 1rem;color:181818;}
a:hover {color: red;}
a:focus {color: royalblue;}

/* common style */
*, *::before, *::after{box-sizing:border-box;}

/* common search form */
input[type="search"]{border: 1px solid #666;border-radius:3px; padding:4px 15px;height: 30px; }
.search-form label, input[type="search"], .btn-search{vertical-align: middle;}

/* Mobile layout  */
@media screen and (min-width:320px) and (max-width:999px){
  .header{padding-bottom:1em;background:#5e452e;color:#fff;display:flex;flex-direction: row;flex-wrap: wrap;}
  .logo, .member, .search-form{width:100%;padding-left:20px;padding-right:20px;}
  
  /* mobile logo */
  .logo{padding-top:0.5em;padding-bottom:0.5em;}
  /* mobile member link */
  .member{background: #231c08; order:-1;display:flex;justify-content:flex-end;padding-top:3px;padding-bottom:3px;}
  .member a{display:block;padding: 5px; margin-left:1em;}
  /* mobile layout */
  .search-form{}
  input[type="search"]{width: calc(100% - 35px);}
  .btn-search{background:transparent url('./images/btn_search.png') no-repeat;width: 30px; height: 30px;background-size:100%;padding: 0;border:0;}

}

/* Desktop layout 1000px~ */
@media screen and (min-width:1000px){
  /* desktop layout */
  .header, .menu{width: 1000px;margin: 0 auto;}
  /* desktop header */
  .header{position: relative;padding-bottom:1em;}
  /* desktop logo */
  .logo{position: absolute;top:50%;left: 15px; transform:translatey(-50%);}
    /*margin-top:-29px;} */
  .logo img{vertical-align: top;}

  /* desktop member link */
  .member{padding:2px 0;font-size: 0;text-align: right;}
  .member li{font-size: 1rem;}
  .member li, .member a{display: inline-block;}

  .member li::after{content:'|';}
  .member li:last-child{margin-right:-1rem;}
  .member li:last-child::after{content:'none';display:none;}
  .member a{padding: 0.5em 1em;}
  .search-form{ text-align: right;}
  input[type="search"]{width: 400px;}
  .btn-search{padding: 5px 10px;border: 1px solid #666;border-radius:3px; background: #988574;color:#fff;height: 30px; }
  .btn-search::before{content:'검색';text-align:center;line-height: 15px;}
  
  
  /* desktop main menu */
  .btn-menubar{display: none;}
  .navigation{background:#988574;}
  .manu{background:yellow;}
}